/* css be graded for accessibility
- sans serif is what is determined to be easier to read on screens
- https://htmlcheatsheet.com/css/
*/
body {
    font-family: "Poppins";
}

#splash{
    width: 50vw;
}

.verse {
    font-style:italic;
}

p {
    font-style:bold;
}

