/* css be graded for accessibility
- sans serif is what is determined to be easier to read on screens
- https://htmlcheatsheet.com/css/ 

*/


#albumart {
  width: 20em;
  float: 
}

.splash-container {
  width: vw;
  height: 50vh;
  background-image: url(resources/boa_splash_pure_white.png);
  background-position: 54% 30%;

}

.splash-container p {
  margin-top: 0;
  padding-top: 0;
  border-top:0;
}

body {
  background-color: black;
  font-family: 'Courier Prime';
  font-size: 1em;
  color: white;
}

a {
  color: #FF255F;
}

.header-text {
  color: white;
  font-family: 'Courier Prime';
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Lyrics Content */
#lyrics-content {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;
}

#lyrics-content p:hover{
  transition: all 0.75s ease-in-out; 
  /* background- */
  color:#FF255F;
  /* color:black; */
}

#splash {
  width: 100vw;
  display: block;
}

.verse {
  font-style: bold;
}

h3 {
  font-weight: 300;
}

p {
  line-height: 200%;
}

hr {
  height: 0.01em;
  background-color: white;
  border-color: white;
}


/* Youtube Content */
.youtube-player {
  /* position to line up with lyrics at least */
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-color: #FF255F;
  /* had trouble centering with css, just using html <center> tags instead. */
}

/* Footer */
footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
